.btn-A {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.btn-B {
  grid-column: 8 / 9;
  grid-row: 3 / 4;
}

.btn-C {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
}

.btn-D {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

.btn-E {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}

.btn-F {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}

.btn-G {
  grid-column: 8 / 9;
  grid-row: 2 / 3;
}

.btn-I {
  grid-column: 11 / 12;
  grid-row: 1 / 2;
}

.btn-H {
  grid-column: 9 / 10;
  grid-row: 2 / 3;
}

.btn-J {
  grid-column: 10 / 11;
  grid-row: 2 / 3;
}

.btn-K {
  grid-column: 10 / 11;
  grid-row: 2 / 3;
}

.btn-L {
  grid-column: 11 / 12;
  grid-row: 2 / 3;
}

.btn-M {
  grid-column: 10 / 11;
  grid-row: 3 / 4;
}

.btn-N {
  grid-column: 9 / 10;
  grid-row: 3 / 4;
}

.btn-O {
  grid-column: 11 / 12;
  grid-row: 1 / 2;
}

.btn-P {
  grid-column: 12 / 13;
  grid-row: 1 / 2;
}

.btn-Q {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.btn-R {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
}

.btn-S {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.btn-T {
  grid-column: 8 / 9;
  grid-row: 1 / 2;
}

.btn-U {
  grid-column: 10 / 11;
  grid-row: 1 / 2;
}

.btn-V {
  grid-column: 7 / 8;
  grid-row: 3 / 4;
}

.btn-W {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.btn-X {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}

.btn-Y {
  grid-column: 9 / 10;
  grid-row: 1 / 2;
}

.btn-Z {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.btn-ctrl {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.btn-shift {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.btn-caps {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.btn-tab {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.btn-enter {
  grid-column: 13 / 14;
  grid-row: 2 / 3;
}


.btn-space {
  grid-column: 5 / 9;
  grid-row: 4 / 5;
}


