@use './BtnPosition.scss';

.keyboard-group {
  width: 70%;
  height: 35vh;
  justify-self: center;
  align-self: end;
  .keyboard-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(50px, auto));
    gap: 1em;
    outline: none;
    .btn {
      background-color: #0af;
      box-shadow: 2px 2px 1px 3px #666;
      text-align: center;
      line-height: 50px;
      padding: 0 20px;
    }
  }
}
