.textWrapper {
  width: 70%;
  height: 35vh;
  margin-top: 2em;
  align-self: center;
  justify-self: center;
  background-color: green;
  color: white;
  border-radius: 1em;
  padding: 1.5em;
  position: relative;
  word-wrap: break-word;

  .textContent {
    font-size: 5em;
    letter-spacing: 20px;
    //word-wrap: break-word;

  }
  .miss {
    position: absolute;
    bottom: 1em;
    left: 2em;
  }
  .complateTime {
    position: absolute;
    bottom: 1em;
    right: 2em;
  }
}
