@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  align-items: center; 
}

html, body {
  max-height: 100vh;
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
}
h1 {
  position: fixed;
  top: 5rem;
  left: 3rem;
  color: #555;
  writing-mode: vertical-rl;
  font-size: 46px;
}
#root {
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15% 1fr;
  justify-content: center;
  align-items: center;
}

